<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="styles.css">
    <title>Author Registration</title>
</head>
<body>
    <nav>
        <a href="index.html">Author Registration</a>
        <a href="student.html">Student Registration</a>
        <a href="book.html">Book Registration</a>
        <a href="order.html">Order Registration</a>
        <a href="order_item.html">Order Item Registration</a>
    </nav>

    <h1>Author Registration</h1>
    <form id="author-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Register</button>
    </form>

    <script src="./js/add_author.js"></script>

    <h2>Authors:</h2>
    <table id="authors-table">
        <thead>
            <tr>
                <th>authorID</th>
                <th>name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>{{this.authorID}}</td>
            <td>{{this.name}}</td>
            <td><button class="delete-btn" data-id="{{this.authorID}}">Delete</button></td>
            <td><button class="edit-btn" data-id="{{this.authorID}}">Edit</button></td>

        </tr>
        {{/each}}
        </tbody>
    </table>
</body>
</html>
